@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Vujahday+Script&display=swap');

:root {
  /* primary */
  --midnightblue: #003B6D;
  --bluesky: #6699CC;

  /* secondary  */
  --dimgray: #676767;
  --silver: #BDBDBD;
  --offwhite: #EBEBEB;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 145px 95px repeat(2, 4fr) 40px;
  grid-column-gap: 0px;
  /* grid-row-gap: 5px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  grid-area: 1 / 1 / 2 / 6;
  background-color: var(--silver);

}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin: 15px;
}

.balloon_animal_logo {
  position: relative;
  top: 50%;
  height: 80px;
}

#logo_2 {
  width: 15%;
  height: 80px;
}

.slogan {
  text-align: right;
  margin: 0 15px 0 0;
  font-family: "Vujahday Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
}

header,
nav {
  border-bottom: 2px solid var(--dimgray);
}

/* all nav elements */

nav {
  grid-area: 2 / 1 / 3 / 6;
  background-color: var(--silver);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li, .contact_btn {
  margin: 0 5px;
  padding: 10px 25px;
}

nav li, .cta_btn, .contact_btn {
  border-radius: 9px 0;
  border: 2px solid var(--midnightblue);
  background-color: var(--offwhite);
  font-size: 14px;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.contact_btn:disabled {
  background-color: var(--silver);
  color: var(--offwhite);
  cursor: not-allowed;
}

nav li:hover,
.cta_btn:hover {
  transform: scale(0.9);
}


nav a,
.cta_btn a {
  text-decoration: none;
  text-transform: uppercase;
}

#btn_group {
  display: flex;
}

#btn_group a,
.cta_btn a {
  color: var(--midnightblue);
}

#btn_group li.active {
  background-color: var(--bluesky);
}

#btn_group li.active a,
#contact_btn a {
  color: var(--offwhite);
}

#btn_group li:hover {
  background-color: var(--silver);
  color: var(--midnightblue);
  border: 1px solid var(--midnightblue);
}

#contact_btn,
footer,
.cta {
  background-color: var(--midnightblue);
}

/* ending nav elements */


main {
  grid-area: 3 / 1 / 5 / 6;
  background-color: var(--offwhite);
}

main p {
  text-align: justify;
}

main > div, .contact_form, fieldset {
  padding: 35px;
}

.animal_main {
  padding: 70px;
  color: var(--midnightblue);
}

.animal_main a {
  color: black;
}

h1 {
  color: var(--midnightblue);
  font-family: "Vujahday Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 18px 0;
}

h2 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.separator {
  text-align: center;
}

.outer {
  display: grid;
}

.inner_text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  color: var(--midnightblue);
}

.inner_text p {
  margin: 0;
  padding: 0 35px;
}

.inner_text span {
  font-style: italic;
}

.homepage_img,
.homepage_img {
  width: 25%;
  border-radius: 10px;
  margin: 0 2rem;
}

.homepage_img {
  float: right;
}

.homepage_img2 {
  float: left;
}

main p,
.adoption_content,
.animal_main {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;

}


.cta {
  clear: both;
  color: var(--offwhite);
  display: flex;
  align-items: center;
}

.cta,
.adoption_content {
  margin: 0;
}

.cta_btn {
  display: inline-block;
  padding: 15px;
  width: 340px;
  text-align: center;
}

.cta p {
  padding: 35px;
}

.adoption_content {
  background-color: var(--bluesky);
  color: var(--offwhite);
}

.adoption_content a {
  color: var(--midnightblue);
}

.contact_form {
  color: var(--midnightblue);
}

.form {
  border: 1px dashed var(--midnightblue);
}

.form .mb {
  margin-bottom: 20px;
}

.form label {
  width: 70px;
}

fieldset, input[type=submit], input[type=reset] {
  border-radius: 5px;
  border: 1px solid grey;
}

fieldset {
  position: relative;
  background-color: var(--silver);
}

fieldset legend {
  font-weight: bold;
  position:absolute;
  top: 2%;
  left: 2%;
}

input, select {
  border: 1px solid var(--dimgray);
  box-shadow: 3px 3px 5px grey;
  background-color: var(--offwhite);
}

input[type=submit], input[type=reset] {
  padding: 7px 10px;
  margin-top: 8px;
}

input[type=submit] {
  background-color: var(--bluesky);
  color: var(--midnightblue);
  margin-right: 8px;
  font-weight: bold;
}

input[type=reset] {
  background-color: var(--silver);
}

/* ending main content */

footer {
  grid-area: 5 / 1 / 6 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offwhite);
}